<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('base/head'); %>
    <title>Airbnb Information Page</title>
    <link rel="stylesheet" href="/stylesheets/airbnb-style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <%- include ('base/navbar'); %><br>
    <div class="container">
        <h2><%= propertyDetails.title %></h2>
        <div class="image-slideshow">
            <div class="current-image-div">
                <img src="<%= propertyDetails.images[0] %>" class="current-image" id="currentImage">
            </div>
            <div class="indicator-image-wrapper">
                <div class="indicator-image-div">
                    <% for (var i = 0; i < propertyDetails.images.length; i++) { %>
                        <% if (i == 0) { %>
                            <img src="<%= propertyDetails.images[i] %>" onclick="showImage('<%= propertyDetails.images[i] %>')" class="indicator-image-first" id="<%= propertyDetails.images[i] %>">
                        <% } else { %>
                            <img src="<%= propertyDetails.images[i] %>" onclick="showImage('<%= propertyDetails.images[i] %>')" class="indicator-image" id="<%= propertyDetails.images[i] %>" style="opacity: 50%;">
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <table>
                    <% propertyDetails.details.forEach(detail => { %>
                        <% if ("hostInfos" in detail) { %>
                            <tr>
                                <td rowspan="2">
                                    <img src="<%= propertyDetails.hostProfilePhotoUrl %>" class="host-profile-photo" id="hostProfilePhoto">
                                </td>
                                <td class="host-name"><h3><%= detail.title %></h3></td>
                            </tr>
                            <tr>
                                <td class="host-date"><h4><%= detail.subtitle %></h4></td>
                            </tr>
                        <% } %>
                    <% }) %>
                </table><br>
                <% propertyDetails.details.forEach(detail => { %>
                    <% if ("amenities" in detail) { %>
                        <h3><%= detail.title %></h3>
                        <ul class="amenities-list">
                            <% for (var i = 0; i < detail.amenities.length - 1; i++) { %>
                                <li><%= detail.amenities[i].amenities[0].title %></li>
                            <% } %>
                        </ul>
                    <% } %>
                <% }) %>
                <button type="button" class="btn amenities-button" id="amenitiesButton">Show all amenities</button>
            </div>
            <div class="col-md-6">
                <div class="booking-search-box">
                    <table class="info-booking-search-box">
                        <tr>
                            <td colspan="2">
                                <h3>
                                    <% if ("price" in propertyDetails.price.structuredDisplayPrice) { %>
                                        <%= propertyDetails.price.structuredDisplayPrice.accessibilityLabel %>
                                    <% } else { %>
                                        <s><%= propertyDetails.price.structuredDisplayPrice.originalPrice %></s> <%= propertyDetails.price.structuredDisplayPrice.discountedPrice %> per night
                                    <% } %>
                                </h3>
                            </td>
                        </tr>
                        <form id="bookAirbnbForm">
                            <div class="form-group">
                                <tr>
                                    <td width="50%"><label for="checkin" class="booking-label">Check-in</label></td>
                                    <td><label for="checkout" class="booking-label">Check-out</label></td>
                                </tr>
                                <tr>
                                    <td><input type="date" class="form-control booking-input" id="checkin" name="checkin" min="<%= new Date().toISOString().split('T')[0] %>" value="<%= tripDetails.checkIn %>" onchange="checkDate(); calculatePrice()" required /></td>
                                    <td><input type="date" class="form-control booking-input" id="checkout" name="checkout" min="<%= new Date().toISOString().split('T')[0] %>" value="<%= tripDetails.checkOut %>" onchange="checkDate(); calculatePrice()" required /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="error-message" id="errorMessage">
                                            <img src="/images/error-icon.png" class="error-icon">
                                            Check-out date must be later than check-in date
                                        </div>
                                        <div class="error-message" id="unavailableErrorMessage">
                                            <img src="/images/error-icon.png" class="error-icon">
                                            Property is not available during this period
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <div class="form-group">
                                <tr>
                                    <td colspan="2"><label for="guests" class="booking-label">Guests</label></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="dropdown">
                                            <input type="text" class="form-control booking-input guests-input" id="guests" name="guests" placeholder="No. of guests" required readonly />
                                            <img src="/images/down-arrow.png" class="dropdown-arrow" id="dropdownArrow">
                                            <div class="dropdown-content" id="dropdownContent">
                                                <table class="dropdown-table">
                                                    <tr>
                                                        <td><label for="adults" class="booking-label">Adults</label></td>
                                                        <td rowspan="2"><button type="button" onclick="updateGuests('adults', -1)" class="minus-button-disabled" id="adultsMinusButton" disabled><img src="/images/minus-disabled.png" class="minus-icon" id="adultsMinusIcon"></button></td>
                                                        <td rowspan="2"><input type="number" class="dropdown-input" id="adults" name="adults" value="0" required readonly /></td>
                                                        <td rowspan="2"><button type="button" onclick="updateGuests('adults', 1)" class="plus-button"><img src="/images/plus.png" class="plus-icon"></button></td>
                                                    </tr>
                                                    <tr class="dropdown-table-divider">
                                                        <td><label for="adults" class="booking-label-caption">Ages 13 or above</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label for="children" class="booking-label">Children</label></td>
                                                        <td rowspan="2"><button type="button" onclick="updateGuests('children', -1)" class="minus-button-disabled" id="childrenMinusButton" disabled><img src="/images/minus-disabled.png" class="minus-icon" id="childrenMinusIcon"></button></td>
                                                        <td rowspan="2"><input type="number" class="dropdown-input" id="children" name="children" value="0" required readonly /></td>
                                                        <td rowspan="2"><button type="button" onclick="updateGuests('children', 1)" class="plus-button"><img src="/images/plus.png" class="plus-icon"></button></td>
                                                    </tr>
                                                    <tr class="dropdown-table-divider">
                                                        <td><label for="children" class="booking-label-caption">Ages 2-12</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label for="infants" class="booking-label">Infants</label></td>
                                                        <td rowspan="2"><button type="button" onclick="updateGuests('infants', -1)" class="minus-button-disabled" id="infantsMinusButton" disabled><img src="/images/minus-disabled.png" class="minus-icon" id="infantsMinusIcon"></button></td>
                                                        <td rowspan="2"><input type="number" class="dropdown-input" id="infants" name="infants" value="0" required readonly /></td>
                                                        <td rowspan="2"><button type="button" onclick="updateGuests('infants', 1)" class="plus-button"><img src="/images/plus.png" class="plus-icon"></button></td>
                                                    </tr>
                                                    <tr class="dropdown-table-divider">
                                                        <td><label for="infants" class="booking-label-caption">Under 2</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label for="pets" class="booking-label">Pets</label></td>
                                                        <td rowspan="2"><button type="button" onclick="updateGuests('pets', -1)" class="minus-button-disabled" id="petsMinusButton" disabled><img src="/images/minus-disabled.png" class="minus-icon" id="petsMinusIcon"></button></td>
                                                        <td rowspan="2"><input type="number" class="dropdown-input" id="pets" name="pets" value="0" required readonly /></td>
                                                        <td rowspan="2"><button type="button" onclick="updateGuests('pets', 1)" class="plus-button"><img src="/images/plus.png" class="plus-icon"></button></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label for="pets" class="booking-label-caption">Excluding service animals</label></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <tr>
                                <td colspan="2" id="bookButtonContainer"><button type="submit" class="btn btn-primary info-booking-button" id="bookButton">Book</button></td>
                            </tr>
                            <input type="hidden" id="airbnbImage" name="airbnbImage" value="<%= propertyDetails.images[0] %>" />
                            <input type="hidden" id="airbnbName" name="airbnbName" value="<%= propertyDetails.title %>" />
                        </form>
                        <tr>
                            <td id="priceBreakdown"></td>
                            <td class="total-price" id="totalPrice"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <% if (propertyReviews.length == 0) { %>
                <h3 class="no-padding-left no-reviews">No reviews (yet)</h3>
            <% } else { %>
                <h3 class="no-padding-left">&#9733; <%= propertyDetails.reviewsRating %> &bull; <%= propertyDetails.reviewsCount %> reviews</h3>
                <table class="rating-table">
                    <tr>
                        <td class="rating-type-td1">Cleanliness</td>
                        <td class="rating-bar-td">
                            <div class="rating-container">
                                <div class="rating-bar" id="cleanlinessRatingBar"></div>
                            </div>
                        </td>
                        <td class="rating-score-td" id="cleanlinessRating"><%= propertyDetails.cleanlinessRating %></td>
                        <td class="rating-type-td2">Accuracy</td>
                        <td class="rating-bar-td">
                            <div class="rating-container">
                                <div class="rating-bar" id="accuracyRatingBar"></div>
                            </div>
                        </td>
                        <td class="rating-score-td" id="accuracyRating"><%= propertyDetails.accuracyRating %></td>
                    </tr>
                    <tr>
                        <td>Communication</td>
                        <td>
                            <div class="rating-container">
                                <div class="rating-bar" id="communicationRatingBar"></div>
                            </div>
                        </td>
                        <td id="communicationRating"><%= propertyDetails.communicationRating %></td>
                        <td>Location</td>
                        <td>
                            <div class="rating-container">
                                <div class="rating-bar" id="locationRatingBar"></div>
                            </div>
                        </td>
                        <td id="locationRating"><%= propertyDetails.locationRating %></td>
                    </tr>
                    <tr>
                        <td>Check-in</td>
                        <td>
                            <div class="rating-container">
                                <div class="rating-bar" id="checkinRatingBar"></div>
                            </div>
                        </td>
                        <td id="checkinRating"><%= propertyDetails.checkinRating %></td>
                        <td>Value</td>
                        <td>
                            <div class="rating-container">
                                <div class="rating-bar" id="valueRatingBar"></div>
                            </div>
                        </td>
                        <td id="valueRating"><%= propertyDetails.valueRating %></td>
                    </tr>
                </table>
                <% propertyReviews.forEach(review => { %>
                    <table class="reviewer-table">
                        <tr>
                            <td rowspan="2" width="50px">
                                <img src="<%= review.reviewer.userProfilePicture.baseUrl %>" class="reviewer-profile-photo">
                            </td>
                            <td class="reviewer-name"><h3 class="h3-small"><%= review.reviewer.firstName %></h3></td>
                        </tr>
                        <tr>
                            <td class="reviewer-date"><h4 class="h4-small"><%= review.localizedDate %></h4></td>
                        </tr>
                    </table>
                    <p class="no-padding-left review"><%= review.comments %></p>
                <% }) %>
            <% } %>
        </div>
        <div class="modal" id="amenitiesModal">
            <div class="modal-content" id="amenitiesModalContent">
                <% propertyDetails.details.forEach(detail => { %>
                    <% if ("amenities" in detail) { %>
                        <div class="amenities-modal-body">
                            <div class="amenities-modal-header">
                                <h3 class="modal-title"><%= detail.title %></h3>
                                <button type="button" class="btn-close" onclick="closeAmenitiesModal()"></button>
                            </div>
                            <% detail.amenities.forEach(amenityType => { %>
                                <h4 class="h4-black amenity-type"><%= amenityType.title %></h4>
                                <ul class="amenity-list">
                                    <% amenityType.amenities.forEach(amenity => { %>
                                        <li><%= amenity.title %></li>
                                    <% }) %>
                                </ul>
                            <% }) %>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
        <div class="modal" id="modal">
            <div class="modal-content" id="bookingModalContent">
                <form id="addToItineraryForm">
                    <div class="modal-header">
                        <h3 class="modal-title">Booking successful!</h3>
                        <button type="button" class="btn-close" onclick="closeModal()"></button>
                    </div>
                    <div class="modal-body">
                        <h4 class="h4-black">Would you like to add your booking into an itinerary?</h4>
                        <div class="itinerary-dropdown-div">
                            <input type="text" class="itinerary-dropdown" id="itineraryDropdown" placeholder="Select itinerary..." required readonly />
                            <img src="/images/down-arrow.png" class="itinerary-dropdown-arrow" id="itineraryDropdownArrow">
                            <div class="dropdown-menu position-absolute w-100" id="itineraryDropdownOptions"></div>
                        </div>
                        <div class="create-itinerary-form" id="createItineraryForm"><br>
                            <div class="d-flex align-items-center">
                                <h4 class="h4-black">Trip Name</h4>
                            </div>
                            <input type="text" id="trip-name" class="form-control" placeholder="e.g. Trip to Bali" /><br>
                            <div class="d-flex align-items-center">
                                <h4 class="h4-black">Destination</h4>
                            </div>
                            <div class="input-group position-relative">
                                <input type="text" id="trip-destination" class="form-control" placeholder="Where to?" />
                                <button type="button" id="add-destination-button" class="btn btn-secondary rounded-end" onclick="addDestination()">Add destination</button>
                                <div id="dropdown" class="dropdown-menu position-absolute w-100"></div>
                            </div>
                            <div id="selected-destinations" class="d-flex flex-wrap"></div><br>
                            <div class="d-flex align-items-center">
                                <h4 class="h4-black">Dates</h4>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">From:</span>
                                <input type="date" id="trip-from-date" class="form-control" min="<%= new Date().toISOString().split('T')[0] %>" onchange="modalCheckDate()" />
                                <span class="input-group-text">To:</span>
                                <input type="date" id="trip-to-date" class="form-control" min="<%= new Date().toISOString().split('T')[0] %>" onchange="modalCheckDate()" />
                            </div>
                            <div class="error-message" id="modalErrorMessage">
                                <img src="/images/error-icon.png" class="error-icon">
                                To date cannot be earlier than from date
                            </div>
                        </div>
                        <input type="hidden" id="bookingId" />
                        <input type="hidden" id="selectedItineraryId" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal()">Skip</button>
                        <div id="addButtonContainer">
                            <button type="submit" class="btn btn-primary" id="addButton">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include ('base/footer'); %>
</body>
</html>
<script>
    // Update information when page is loaded
    var tripDetailsObject = <%- JSON.stringify(tripDetails) %>;
    var adults = document.getElementById("adults");
    var children = document.getElementById("children");
    var infants = document.getElementById("infants");
    var pets = document.getElementById("pets");
    if ("adults" in tripDetailsObject) {
        adults.value = "<%= tripDetails.adults %>";
    }
    if ("children" in tripDetailsObject) {
        children.value = "<%= tripDetails.children %>";
    }
    if ("infants" in tripDetailsObject) {
        infants.value = "<%= tripDetails.infants %>";
    }
    if ("pets" in tripDetailsObject) {
        pets.value = "<%= tripDetails.pets %>";
    }
    updateGuests("adults", 0);
    updateGuests("children", 0);
    updateGuests("infants", 0);
    updateGuests("pets", 0);
    calculatePrice();
    var cleanlinessRating = document.getElementById("cleanlinessRating");
    var accuracyRating = document.getElementById("accuracyRating");
    var communicationRating = document.getElementById("communicationRating");
    var locationRating = document.getElementById("locationRating");
    var checkinRating = document.getElementById("checkinRating");
    var valueRating = document.getElementById("valueRating");
    var cleanlinessRatingBar = document.getElementById("cleanlinessRatingBar");
    var accuracyRatingBar = document.getElementById("accuracyRatingBar");
    var communicationRatingBar = document.getElementById("communicationRatingBar");
    var locationRatingBar = document.getElementById("locationRatingBar");
    var checkinRatingBar = document.getElementById("checkinRatingBar");
    var valueRatingBar = document.getElementById("valueRatingBar");
    var cleanlinessRatingPercentage = parseFloat(cleanlinessRating.innerText) / 5 * 100;
    var accuracyRatingPercentage = parseFloat(accuracyRating.innerText) / 5 * 100;
    var communicationRatingPercentage = parseFloat(communicationRating.innerText) / 5 * 100;
    var locationRatingPercentage = parseFloat(locationRating.innerText) / 5 * 100;
    var checkinRatingPercentage = parseFloat(checkinRating.innerText) / 5 * 100;
    var valueRatingPercentage = parseFloat(valueRating.innerText) / 5 * 100;
    cleanlinessRatingBar.style.width = `${cleanlinessRatingPercentage}%`;
    accuracyRatingBar.style.width = `${accuracyRatingPercentage}%`;
    communicationRatingBar.style.width = `${communicationRatingPercentage}%`;
    locationRatingBar.style.width = `${locationRatingPercentage}%`;
    checkinRatingBar.style.width = `${checkinRatingPercentage}%`;
    valueRatingBar.style.width = `${valueRatingPercentage}%`;

    // Check that check-in and check-out dates are valid
    function checkDate() {
        var checkin = document.getElementById("checkin");
        var checkout = document.getElementById("checkout");
        var errorMessage = document.getElementById("errorMessage");
        var unavailableErrorMessage = document.getElementById("unavailableErrorMessage");
        var bookButtonContainer = document.getElementById("bookButtonContainer");
        var bookButton = document.getElementById("bookButton");
        if (checkin.value != "" && checkout.value != "" && checkout.value <= checkin.value) {
            checkin.style.border = "1px solid #d9534f";
            checkout.style.border = "1px solid #d9534f";
            errorMessage.style.display = "block";
            unavailableErrorMessage.style.display = "none";
            bookButtonContainer.className = "button-container-disabled";
            bookButton.disabled = true;
        }
        else {
            var propertyAvailabilityObject = <%- JSON.stringify(propertyAvailability) %>;
            var checkinDate = new Date(checkin.value);
            var checkoutDate = new Date(checkout.value);
            var checkinAvailable;
            var checkoutAvailable;
            propertyAvailabilityObject.forEach(month => {
                if (month.year == checkinDate.getFullYear() && month.month == checkinDate.getMonth() + 1) {
                    console.log(`Check-in: ${month.days[checkinDate.getDate() - 1].date} (${month.days[checkinDate.getDate() - 1].available_for_checkin})`);
                    checkinAvailable = month.days[checkinDate.getDate() - 1].available_for_checkin;
                }
                if (month.year == checkoutDate.getFullYear() && month.month == checkoutDate.getMonth() + 1) {
                    console.log(`Check-out: ${month.days[checkoutDate.getDate() - 1].date} (${month.days[checkoutDate.getDate() - 1].available_for_checkout})`);
                    checkoutAvailable = month.days[checkoutDate.getDate() - 1].available_for_checkout;
                }
            });
            if (!checkinAvailable || !checkoutAvailable) {
                checkin.style.border = "1px solid #d9534f";
                checkout.style.border = "1px solid #d9534f";
                errorMessage.style.display = "none";
                unavailableErrorMessage.style.display = "block";
                bookButtonContainer.className = "button-container-disabled";
                bookButton.disabled = true;
            }
            else {
                checkin.style.border = "1px solid #ccc";
                checkout.style.border = "1px solid #ccc";
                errorMessage.style.display = "none";
                unavailableErrorMessage.style.display = "none";
                bookButtonContainer.className = "";
                bookButton.disabled = false;
            }
        }
    }

    document.onclick = function(e) {
        // Show/hide guest dropdown
        var guests = document.getElementById("guests");
        var dropdownContent = document.getElementById("dropdownContent");
        var dropdownArrow = document.getElementById("dropdownArrow");
        if (e.target == guests || e.target == dropdownArrow) {
            if (dropdownContent.style.display == "" || dropdownContent.style.display == "none") {
                dropdownContent.style.display = "block";
                dropdownArrow.src = "/images/up-arrow.png";
            }
            else {
                dropdownContent.style.display = "none";
                dropdownArrow.src = "/images/down-arrow.png";
            }
        }
        else if (dropdownContent.style.display == "block" && !dropdownContent.contains(e.target)) {
            dropdownContent.style.display = "none";
            dropdownArrow.src = "/images/down-arrow.png";
        }
        // Show/hide itinerary dropdown
        var itineraryDropdown = document.getElementById("itineraryDropdown");
        var itineraryDropdownArrow = document.getElementById("itineraryDropdownArrow");
        var itineraryDropdownOptions = document.getElementById("itineraryDropdownOptions");
        if (e.target == itineraryDropdown || e.target == itineraryDropdownArrow) {
            if (itineraryDropdownOptions.style.display == "" || itineraryDropdownOptions.style.display == "none") {
                itineraryDropdownOptions.style.display = "block";
                itineraryDropdownArrow.src = "/images/up-arrow.png";
            }
            else {
                itineraryDropdownOptions.style.display = "none";
                itineraryDropdownArrow.src = "/images/down-arrow.png";
            }
        }
        else {
            itineraryDropdownOptions.style.display = "none";
            itineraryDropdownArrow.src = "/images/down-arrow.png";
        }
        // Show/hide amenities modal
        var amenitiesButton = document.getElementById("amenitiesButton");
        var amenitiesModal = document.getElementById("amenitiesModal");
        var amenitiesModalContent = document.getElementById("amenitiesModalContent");
        if (e.target == amenitiesButton && (amenitiesModal.style.display == "" || amenitiesModal.style.display == "none")) {
            showAmenitiesModal();
        }
        else if (e.target != amenitiesModalContent) {
            closeAmenitiesModal();
        }
        // Hide booking modal when click outside
        var bookingModalContent = document.getElementById("bookingModalContent");
        if (!bookingModalContent.contains(e.target)) {
            closeModal();
        }
    }

    // Show airbnb image when clicked
    function showImage(newImage) {
        var currentImage = document.getElementById("currentImage");
        var oldImage = currentImage.src;
        currentImage.src = newImage;
        var oldIndicatorImage = document.getElementById(oldImage);
        oldIndicatorImage.style.opacity = "50%";
        var newIndicatorImage = document.getElementById(newImage);
        newIndicatorImage.style.opacity = "100%";
    }

    // Show amenities modal
    function showAmenitiesModal() {
        var amenitiesModal = document.getElementById("amenitiesModal");
        amenitiesModal.style.display = "block";
        closeModal();
    }

    // Close amenities modal
    function closeAmenitiesModal() {
        var amenitiesModal = document.getElementById("amenitiesModal");
        amenitiesModal.style.display = "none";
    }

    // Update guest input value
    function updateGuests(guestType, number) {
        // Minus/plus value based on button clicked
        var guestTypeInput = document.getElementById(guestType);
        guestTypeInput.value = (parseInt(guestTypeInput.value) + number).toString();
        
        // Disable minus button based on value
        var guestTypeMinusButton = document.getElementById(guestType + "MinusButton");
        var guestTypeMinusImage = document.getElementById(guestType + "MinusIcon");
        if (parseInt(guestTypeInput.value) > 0) {
            guestTypeMinusButton.disabled = false;
            guestTypeMinusButton.className = "minus-button";
            guestTypeMinusImage.src = "/images/minus.png";
        }
        else {
            guestTypeMinusButton.disabled = true;
            guestTypeMinusButton.className = "minus-button-disabled";
            guestTypeMinusImage.src = "/images/minus-disabled.png";
        }

        // Have minimum 1 adult if there is at least 1 child/infant/pet
        var adults = document.getElementById("adults");
        var children = document.getElementById("children");
        var infants = document.getElementById("infants");
        var pets = document.getElementById("pets");
        var guests = document.getElementById("guests");
        var adultsMinusButton = document.getElementById("adultsMinusButton");
        var adultsMinusImage = document.getElementById("adultsMinusIcon");
        if ((adults.value == "0" || adults.value == "1") && (children.value != "0" || infants.value != "0" || pets.value != "0")) {
            adults.value = "1";
            adultsMinusButton.disabled = true;
            adultsMinusButton.className = "minus-button-disabled";
            adultsMinusImage.src = "/images/minus-disabled.png";
        }
        else if (adults.value == "1" && children.value == "0" && infants.value == "0" && pets.value == "0") {
            adultsMinusButton.disabled = false;
            adultsMinusButton.className = "minus-button";
            adultsMinusImage.src = "/images/minus.png";
        }

        // Update guest input value
        var adultsAndChildrenValue = parseInt(adults.value) + parseInt(children.value);
        var infantsValue = parseInt(infants.value);
        var petsValue = parseInt(pets.value);
        var guestsValue = "";
        if (adultsAndChildrenValue > 0) {
            if (adultsAndChildrenValue == 1) {
                guestsValue += adultsAndChildrenValue.toString() + " guest";
            }
            else {
                guestsValue += adultsAndChildrenValue.toString() + " guests";
            }
        }
        if (infantsValue > 0) {
            if (infantsValue == 1) {
                guestsValue += ", " + infantsValue.toString() + " infant";
            }
            else {
                guestsValue += ", " + infantsValue.toString() + " infants";
            }
        }
        if (petsValue > 0) {
            if (petsValue == 1) {
                guestsValue += ", " + petsValue.toString() + " pet";
            }
            else {
                guestsValue += ", " + petsValue.toString() + " pets";
            }
        }
        guests.value = guestsValue;
    }

    // Calculate total price based on number of nights
    function calculatePrice() {
        var propertyDetailsObject = <%- JSON.stringify(propertyDetails) %>;
        var pricePerNight;
        var checkin = document.getElementById("checkin");
        var checkout = document.getElementById("checkout");
        var numberOfNights;
        var priceBreakdown = document.getElementById("priceBreakdown");
        var totalPrice = document.getElementById("totalPrice");
        if ("price" in propertyDetailsObject.price.structuredDisplayPrice) {
            pricePerNight = parseInt(propertyDetailsObject.price.structuredDisplayPrice.price.slice(1, -4));
        } 
        else {
            pricePerNight = parseInt(propertyDetailsObject.price.structuredDisplayPrice.discountedPrice.slice(1, -4));
        }
        if (checkin.value == "" || checkout.value == "") {
            numberOfNights = 0;
        }
        else {
            numberOfNights = ((new Date(checkout.value)).getTime() - (new Date(checkin.value)).getTime()) / (1000 * 60 * 60 * 24);
        }
        if (numberOfNights == 1) {
            priceBreakdown.innerText = "$" + pricePerNight.toString() + " SGD x " + numberOfNights.toString() + " night";
        }
        else {
            priceBreakdown.innerText = "$" + pricePerNight.toString() + " SGD x " + numberOfNights.toString() + " nights";
        }
        totalPrice.innerText = "$" + (pricePerNight * numberOfNights).toString() + " SGD";
    }

    // Book airbnb
    $("#bookAirbnbForm").on("submit", function(e) {
        e.preventDefault();
        $.post(`/airbnb/${"<%= tripDetails.propertyId %>"}/book`, {airbnbImage: $("#airbnbImage").val(), 
                                                                   airbnbName: $("#airbnbName").val(), 
                                                                   checkin: $("#checkin").val(), 
                                                                   checkout: $("#checkout").val()}, function(response) {
            var modal = document.getElementById("modal");
            modal.style.display = "block";
            closeAmenitiesModal();
            var bookingIdInput = document.getElementById("bookingId");
            bookingIdInput.value = response.bookingId;
            fetch("/itinerary/trip/destinations").then(response => response.json()).then(trips => {
                var selectedItineraryId = document.getElementById("selectedItineraryId");
                var itineraryDropdown = document.getElementById("itineraryDropdown");
                var itineraryDropdownOptions = document.getElementById("itineraryDropdownOptions");
                itineraryDropdownOptions.innerHTML = "";
                trips.forEach(trip => {
                    var optionDiv = document.createElement("div");
                    optionDiv.className = "dropdown-item";
                    optionDiv.innerText = trip.tripName;
                    optionDiv.onclick = function(e) {
                        selectedItineraryId.value = trip.id;
                        itineraryDropdown.value = trip.tripName;
                        itineraryDropdownOptions.style.display = "none";
                        createItineraryFormVisible();
                    }
                    itineraryDropdownOptions.appendChild(optionDiv);
                });
                var createOptionDiv = document.createElement("div");
                createOptionDiv.className = "dropdown-item";
                createOptionDiv.innerText = "Create new itinerary";
                createOptionDiv.onclick = function(e) {
                    selectedItineraryId.value = "";
                    itineraryDropdown.value = createOptionDiv.innerText;
                    itineraryDropdownOptions.style.display = "none";
                    createItineraryFormVisible();
                }
                itineraryDropdownOptions.appendChild(createOptionDiv);
            });
        });
    });

    // Close modal
    function closeModal() {
        var modal = document.getElementById("modal");
        modal.style.display = "none";
    }

    // Show/hide create itinerary form in modal based on dropdown selection
    function createItineraryFormVisible() {
        var itineraryDropdown = document.getElementById("itineraryDropdown");
        var createItineraryForm = document.getElementById("createItineraryForm");
        var tripName = document.getElementById("trip-name");
        var tripFromDate = document.getElementById("trip-from-date");
        var tripToDate = document.getElementById("trip-to-date");
        if (itineraryDropdown.value == "Create new itinerary") {
            createItineraryForm.style.display = "block";
            tripName.required = true;
            tripFromDate.required = true;
            tripToDate.required = true;
        }
        else {
            createItineraryForm.style.display = "none";
            tripName.required = false;
            tripFromDate.required = false;
            tripToDate.required = false;
        }
    }

    var citiesAndCountries;
    var addedDestinations = [];

    // Destination suggestions
    $.getJSON("/data/airports.json", function(data) {
        citiesAndCountries = data.map(item => ({
            city: item.City,
            country: item.Country
        }));
        citiesAndCountries = citiesAndCountries.filter((value, index, self) => index == self.findIndex((v) => (v.city == value.city && v.country == value.country)));
    });
    $("#trip-destination").on("input", function() {
        const query = $(this).val().toLowerCase();
        const filteredOptions = citiesAndCountries.filter(item => item.city.toLowerCase().includes(query) || item.country.toLowerCase().includes(query));
        updateDropdown(filteredOptions.slice(0, 5));
    });
    function updateDropdown(options) {
        var $dropdown = $("#dropdown");
        $dropdown.empty();
        if (options.length > 0) {
            $dropdown.show();
        } 
        else {
            $dropdown.hide();
        }
        options.forEach(item => {
            var optionDiv = $("<div>").addClass("dropdown-item").text(`${item.city}, ${item.country}`);
            optionDiv.on("click", function() {
                $("#trip-destination").val(`${item.city}, ${item.country}`);
                addDestination();
                $dropdown.hide();
            });
            $dropdown.append(optionDiv);
        });
    }
    $(document).on("click", function() {
        $("#dropdown").hide();
    });

    // Add destination
    function addDestination() {
        if (addedDestinations.length >= 5) {
            alert("You can only add up to 5 destinations at one time.");
        }
        var selectedDestination = $("#trip-destination").val();
        if (selectedDestination && !addedDestinations.includes(selectedDestination)) {
            addedDestinations.push(selectedDestination);
            var destinationInput = $("<input>").attr("type", "text").attr("readonly", true).addClass("form-control").val(selectedDestination);
            var deleteButton = $("<button>").text("Delete").addClass("btn btn-danger rounded-end").on("click", function() {
                var index = addedDestinations.indexOf(selectedDestination);
                addedDestinations.splice(index, 1);
                $(this).closest(".input-group").remove();
            });
            var hiddenInput = $("<input>").attr("type", "hidden").attr("name", "destinations").val(selectedDestination);
            var inputGroup = $("<div>").addClass("input-group").css({"width": "auto", "margin-right": "10px", "margin-top": "10px"}).append(destinationInput, deleteButton, hiddenInput);
            $("#selected-destinations").append(inputGroup);
            $("#trip-destination").val(""); 
        }
    }

    // Prevent unwanted deletion of destination when enter key is pressed
    document.onkeydown = function(e) {
        if (e.key == "Enter" || e.keyCode == 13) {
            e.preventDefault();
        }
    }

    // Check that to date is not earlier than from date
    function modalCheckDate() {
        var fromDate = document.getElementById("trip-from-date");
        var toDate = document.getElementById("trip-to-date");
        var errorMessage = document.getElementById("modalErrorMessage");
        var addButtonContainer = document.getElementById("addButtonContainer");
        var addButton = document.getElementById("addButton");
        if (fromDate.value != "" && toDate.value != "" && toDate.value < fromDate.value) {
            fromDate.style.border = "1px solid #d9534f";
            toDate.style.border = "1px solid #d9534f";
            errorMessage.style.display = "block";
            addButtonContainer.className = "button-container-disabled";
            addButton.disabled = true;
        }
        else {
            fromDate.style.border = "1px solid #ccc";
            toDate.style.border = "1px solid #ccc";
            errorMessage.style.display = "none";
            addButtonContainer.className = "";
            addButton.disabled = false;
        }
    }
    
    // Add booking to itinerary
    $("#addToItineraryForm").on("submit", function(e) {
        e.preventDefault();
        var itineraryDropdown = document.getElementById("itineraryDropdown");
        var selectedItineraryId = document.getElementById("selectedItineraryId");
        var bookingIdInput = document.getElementById("bookingId");
        // If adding to existing itinerary
        if (itineraryDropdown.value != "Create new itinerary") {
            // Add itinerary ID to booking
            $.ajax({
                url: `/bookings/update/airbnb/${bookingIdInput.value}`,
                type: "PUT",
                data: JSON.stringify({itineraryId: selectedItineraryId.value}),
                contentType: "application/json",
                success: function(response) {
                    // Add booking ID to itinerary
                    fetch("/itinerary/trip/destinations").then(response => response.json()).then(trips => {
                        trips.forEach(trip => {
                            if (trip.id == selectedItineraryId.value) {
                                if (trip.bookings.airbnb) {
                                    trip.bookings.airbnb.push(bookingIdInput.value);
                                }
                                else {
                                    trip.bookings.airbnb = [bookingIdInput.value];
                                }
                                $.ajax({
                                    url: `/itinerary/trip/<%= user.uid %>/destinations/${selectedItineraryId.value}`,
                                    type: "PUT",
                                    data: JSON.stringify(trip),
                                    contentType: "application/json",
                                    success: function(response) {
                                        alert("Booking added to itinerary!");
                                        window.location.href = `/itinerary/p?tripId=${selectedItineraryId.value}`;
                                    },
                                    error: function(error) {
                                        alert("An error occurred while adding booking ID to itinerary.");
                                    }
                                });
                            }
                        });
                    });
                },
                error: function(error) {
                    alert("An error occurred while adding itinerary ID to booking.");
                }
            });
        }
        // If adding to new itinerary
        else {
            if (addedDestinations.length == 0) {
                alert("Please add at least one destination.");
            }
            else {
                // Create new itinerary and add booking ID to itinerary
                $.post("/itinerary/trip/<%= user.uid %>/destinations", {destinations: addedDestinations,
                                                                             tripName: $("#trip-name").val(),
                                                                             fromDate: $("#trip-from-date").val(),
                                                                             toDate: $("#trip-to-date").val(),
                                                                             bookings: {flights: [], hotel: [], airbnb: [bookingIdInput.value]}}, function(response) {
                    // Add itinerary ID to booking
                    var itineraryId = response.itineraryId;
                    $.ajax({
                        url: `/bookings/update/airbnb/${bookingIdInput.value}`,
                        type: "PUT",
                        data: JSON.stringify({itineraryId: itineraryId}),
                        contentType: "application/json",
                        success: function(response) {
                            alert("Booking added to itinerary!");
                            window.location.href = `/itinerary/p?tripId=${itineraryId}`;
                        },
                        error: function(error) {
                            alert("An error occurred while adding to itinerary.");
                        }
                    });
                });
            }
        }
    });
</script>