<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('base/head'); %>
    <title>Flight's Details Page</title>
</head>

<body>
    <%- include ('base/navbar'); %>

    <div class="container mt-4" id="flightResults">
    
        <% if (flightData.data.context.totalResults > 0) { %>
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="d-flex flex-column">
                    <p class="fs-4 mb-0">Flights from <span class="fw-bold"><%= flightData.data.itineraries[0].legs[0].origin.name %></span> to <span class="fw-bold"><%= flightData.data.itineraries[0].legs[0].destination.name %></span></p>
                </div>
                <button class="btn btn-outline-dark" onclick="redirectToWebpage('<%= valuesJSON %>')">Book on Website</button>
            </div>
        <% } %>
        
    
        <ul class="list-unstyled">
            <% if (flightData.data.context.totalResults > 0) { %>
                <% flightData.data.itineraries.forEach((itinerary, index) => { %>
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img src="<%= itinerary.legs[0].carriers.marketing[0].logoUrl %>" alt="<%= itinerary.legs[0].carriers.marketing[0].name %> Logo" width="30" class="me-2">
                                    <h5 class="mb-0"><%= itinerary.legs[0].carriers.marketing[0].name %></h5>
                                </div>
                                <button class="btn btn-outline-dark" data-index="<%= index %>" data-itinerary='<%= JSON.stringify(itinerary) %>' onclick="addToDatabase(this)">Add to Itinerary</button>
                            </div>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <% itinerary.legs.forEach((leg, index) => { %>
                                <div class="leg-item">
                                    <div class="leg-info">
                                        <div class="row">
                                            <div class="col text-center">
                                                <span class="fs-5"><%= formatDate(leg.departure) %></span>
                                                <span class="line flex-grow-1"></span>
                                                <span class="fs-5"><%= formatDate(leg.arrival) %></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col text-center"></div>
                                            <div class="col text-center">
                                                <div class="d-flex justify-content-center align-items-center h-100">
                                                    <span><%= convertToHoursAndMinutes(leg.durationInMinutes) %>, <%= leg.stopCount %> Stops</span>
                                                </div>
                                            </div>
                                            <% if (index === 0) { %>
                                                <div class="col text-end">
                                                    <h5>USD <%= itinerary.price.formatted %></h5>
                                                </div>
                                            <% } else { %>
                                                <div class="col text-end"></div>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="d-flex flex-column">
                        <p class="fs-4 mb-0">No flights from <span class="fw-bold"><%= OriginAirportName %></span> to <span class="fw-bold"><%= DestinationAirportName %></span> found</p>
                    </div>
                </div>
                <div class="alert alert-warning">
                    No flight data available.
                </div>
            <% } %>
        </ul>

    </div>
    
    <%- include ('base/footer'); %>

    <% function formatDate(date) {
        const options = {
            year: 'numeric', month: '2-digit', day: '2-digit',
            hour: '2-digit', minute: '2-digit', second: '2-digit',
            hour12: false
        };
        const formattedDate = new Date(date).toLocaleString('en-US', options);
        return formattedDate.replace('24:', '00:');
    } %>
    

    <% function convertToHoursAndMinutes(minutes) {
        const hours = Math.floor(minutes / 60);
        const remainingMinutes = minutes % 60;
        if (hours === 0) {
            return `${remainingMinutes}m`;
        }
        if (remainingMinutes === 0) {
            return `${hours}h`;
        }
        return `${hours}h ${remainingMinutes}m`;
    } %>

</body>

</html>

<script>
    // function to redirect the user to webpage
    function redirectToWebpage(valuesJSON) {

        const values = JSON.parse(valuesJSON);
        const [flightType, originIATA, destinationIATA, dateInYYMMDD, dateFromInYYMMDD, dateToInYYMMDD, adult, cabinClass, children, infant] = values;

        if (flightType == "oneWay") {
            const queryParams = new URLSearchParams({
                adultsv2: adult,
                cabinclass: cabinClass,
                childrenv2: children,
                infantv2: infant
            });

            const url = `https://www.skyscanner.com/transport/flights/${originIATA}/${destinationIATA}/${dateInYYMMDD}/?${queryParams.toString()}`;
            window.open(url, '_blank');

        } else if (flightType == "roundTrip") {
            const queryParams = new URLSearchParams({
                adultsv2: adult,
                cabinclass: cabinClass,
                childrenv2: children,
                infantv2: infant
            });

            const url = `https://www.skyscanner.com/transport/flights/${originIATA}/${destinationIATA}/${dateFromInYYMMDD}/${dateToInYYMMDD}/?${queryParams.toString()}`;
            window.open(url, '_blank');
        }
        
    }

    function addToDatabase(buttonElement) {
        const itineraryIndex = buttonElement.getAttribute('data-index');
        const itineraryJSON = buttonElement.getAttribute('data-itinerary');
        const itinerary = JSON.parse(itineraryJSON);

        fetch('/flight/addToDatabase', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(itinerary),
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }


</script>


</script>

<style>
    .line {
        display: inline-block;
        width: 150px; /* Adjust width as needed */
        height: 2px;
        background-color: black;
        margin: 0 10px;
        vertical-align: middle;
    }
</style>