<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('base/head'); %>
    <link rel="stylesheet" href="/stylesheets/hotelInfo-style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Hotel Information Page</title>
    <link rel="stylesheet" href="/stylesheets/homepage-style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
    <%- include ('base/navbar'); %>
    <!-- Big Image Stretching from Left to Right -->
    <img src="/images/image-placeholder.png" class="full-width-image" alt="Big Image">

    <!-- Secondary Nav Bar -->
    <div class="secondary-navbar">
        <a href="#overview">Overview</a>
        <a href="#rooms">Rooms</a>
        <a href="#reviews">Reviews</a>
        <a href="#gallery">Gallery</a>
    </div>

    <!-- Content Sections -->
    <div class="content-section" id="overview">
        <!-- Overview Content -->
        <h2>Overview</h2>
        <h1><%= hotelData.name %></h1>
        <% if (hotelData.description_translations) { %>
        <h3>Description</h3>
        <p><%= hotelData.description_translations[0].description %> </p>
        <% } %>
        <p>Address: <%= hotelData.address %>, <%= hotelData.city %>, <%= hotelData.country %>, <%= hotelData.zip %></p>
        <p><% if (hotelData.class == 1) { %>
            <%= hotelData.class %> Star
            <% } else { %>
            <%= hotelData.class %> Stars
            <% } %>
        </p>
        <p>Review Score: <%= hotelData.review_score %> (<%= hotelData.review_score_word %>)</p>
        <p>Languages Spoken:
            <% if (hotelData.languages_spoken && hotelData.languages_spoken.languagecode.length > 0) { %>
            <%= hotelData.languages_spoken.languagecode.join(', ') %>
            <% } else { %>
            Not specified
            <% } %>
        </p>
        <p>Check-in
            <% if (hotelData.checkin) { %>
            <% if (hotelData.checkin['24_hour_available']) { %>
            24-hour check-in available
            <% } else { %>
            From: <%= hotelData.checkin.from %>
            <% } %>
            <% } else { %>
            Check-in information not available
            <% } %>
        </p>
        <p>Check-out
            <% if (hotelData.checkout) { %>
            <% if (hotelData.checkout['24_hour_available']) { %>
            24-hour check-out available
            <% } else { %>
            To: <%= hotelData.checkout.to %>
            <% } %>
            <% } else { %>
            Check-out information not available
            <% } %>
        </p>
        <img src="<%= hotelData.main_photo_url %>" alt="Hotel Image">
    </div>

    <div class="content-section" id="reviews">
        <h2>Guest Reviews</h2>
        <div class="reviews-container">
            <% hotelReviews.forEach(review=> { %>
            <div class="review">
                <div class="review-header">
                    <div class="review-details">
                        <div class="review-user">
                            <h3 class="user-title">
                                <%= review.title %>
                            </h3>
                        </div>
                        <div class="review-date">
                            Reviewed on <%= review.date %>
                        </div>
                    </div>
                    <div class="review-score">
                        <% if (review.average_score>= 4) { %>
                        <span class="excellent">Excellent</span>
                        <% } else if (review.average_score>= 3) { %>
                        <span class="good">Good</span>
                        <% } else if (review.average_score>= 2) { %>
                        <span class="average">Average</span>
                        <% } else { %>
                        <span class="poor">Poor</span>
                        <% } %>
                    </div>
                </div>
                <div class="review-content">
                    <p class="pros"><strong>Comment:</strong>
                        <%= review.pros %>
                    </p>
                </div>
                <div class="review-room">
                    Stayed in: <%= review.stayed_room_info.room_name %>
                </div>
                <div class="review-image">
                    <% if (review.reviewer_photos.length > 0) { %>
                    <img src="<%= review.reviewer_photos[0].max500_ao %>" alt="Review Image">
                    <% } else { %>
                    <% } %>
                </div>
                <div class="review-author">
                    Reviewed by: <%= review.author.name %>
                </div>
            </div>
            <% }); %>
        </div>
    </div>

    <div class="content-section" id="rooms">
        <h2>Room list</h2>
        <form id="bookHotelForm">
            <div class="form-group">
                <div class="room-list-container">
                    <% if (roomData && roomData.length > 0) { %>
                    <% const rooms = roomData[0].rooms; %>
                    <% let roomCounter = 1; %>
                    <% Object.keys(rooms).forEach(roomId => { %>
                    <% const room = rooms[roomId]; %>
                    <!-- Container for each room -->
                    <div class="room-container">
                        <!-- Room header -->
                        <h3>Room <%= roomCounter %></h3>
                        <% roomCounter++; %>

                        <!-- Room details -->
                        <div class="room-details">
                            <!-- High Floor Guarantee -->
                            <p>High Floor Guarantee: <%= room.is_high_floor_guaranteed === 1 ? 'Yes' : 'No' %></p>

                            <!-- Facilities -->
                            <div class="facility-list">
                                <h4>Room Facilities</h4>
                                <ul>
                                    <% if (room.facilities && room.facilities.length > 0) { %>
                                    <% room.facilities.forEach(facility => { %>
                                    <li><%= facility.name %></li>
                                    <% }); %>
                                    <% } else { %>
                                    <li>No room facilities available for this room.</li>
                                    <% } %>
                                </ul>
                            </div>

                            <!-- Private Bathroom Highlights -->
                            <div class="highlight">
                                <% if (room.private_bathroom_highlight && room.private_bathroom_highlight.text) { %>
                                <p><strong>Private Bathroom:</strong> <%= room.private_bathroom_highlight.text %>
                                </p>
                                <% } %>
                            </div>

                            <!-- Bed Configurations -->
                            <div class="bed-config">
                                <% if (room.bed_configurations && room.bed_configurations.length > 0) { %>
                                <h4>Bed Configurations:</h4>
                                <ul>
                                    <% room.bed_configurations.forEach((bedConfiguration) => { %>
                                    <li><%= bedConfiguration.name_with_count %></li>
                                    <% }); %>
                                </ul>
                                <% } %>
                            </div>

                            <!-- Children at the Property -->
                            <div class="child-info">
                                <% if (room.children_and_beds_text && room.children_and_beds_text.children_at_the_property) { %>
                                <h4>Children at the Property:</h4>
                                <ul>
                                    <% room.children_and_beds_text.children_at_the_property.forEach((childInfo) => { %>
                                    <li><%= childInfo.text %></li>
                                    <% }); %>
                                </ul>
                                <% } %>
                            </div>

                            <!-- Cribs and Extra Beds -->
                            <div class="crib-info">
                                <% if (room.cribs_and_extra_beds && room.cribs_and_extra_beds.length > 0) { %>
                                <h4>Cribs and Extra Beds:</h4>
                                <ul>
                                    <% room.cribs_and_extra_beds.forEach((cribInfo) => { %>
                                    <li><%= cribInfo.text %></li>
                                    <% }); %>
                                </ul>
                                <% } %>
                            </div>

                            <!-- Highlights -->
                            <div class="room-highlights">
                                <% if (room.highlights && room.highlights.length > 0) { %>
                                <h4>Highlights:</h4>
                                <ul>
                                    <% room.highlights.forEach((highlight) => { %>
                                    <li>
                                        <i class="<%= highlight.icon %>"></i> <%= highlight.translated_name %>
                                    </li>
                                    <% }); %>
                                </ul>
                                <% } %>
                            </div>

                            <!-- Display Room Photos -->
                            <div class="room-photos">
                                <h4>Room Photos</h4>
                                <% if (room.photos && room.photos.length > 0) { %>
                                <% room.photos.forEach(photo => { %>
                                <img src="<%= photo.url_max300 %>" alt="Room Photo">
                                <% }); %>
                                <% } else { %>
                                <p>No room photos available for this room.</p>
                                <% } %>
                            </div>
                        </div>
                        <!-- Booking Button -->
                        <div id="bookButtonContainer">
                            <button type="submit" class="btn btn-primary info-booking-button"
                                id="bookButton">Book</button>
                        </div>
                        <input type="hidden" id="hotelImage" name="hotelImage" value="<%= hotelImages[0] %>" />
                        <input type="hidden" id="hotelName" name="hotelName" value="<%= hotelData.name %>" />
                        <input type="hidden" id="checkin" name="checkin" value="<%= hotelData.checkin.from %>" />
                        <input type="hidden" id="checkout" name="checkout" value="<%= hotelData.checkout.to %>" />
                        <input type="hidden" id="checkInDate" name="checkInDate" value="" />
                        <input type="hidden" id="checkOutDate" name="checkOutDate" value="" />
                        <input type="hidden" id="adults" name="adults" value="" />
                        <input type="hidden" id="hotelAddress" name="hotelAddress" value="<%= hotelData.address %>" />
                    </div>
                    <% }); %>
                    <% } else { %>
                    <p>No room data available.</p>
                    <% } %>
                </div>
            </div>
        </form>
    </div>

    <div class="content-section" id="gallery">
        <!-- Gallery Content -->
        <h2>Gallery</h2>
        <div class="image-slideshow">
            <div class="current-image-div">
                <img src="<%= hotelImages[0] %>" id="currentImage">
            </div>
            <div class="indicators">
                <% for (var i = 0; i < hotelImages.length; i++) { %>
                <% if (i == 0) { %>
                <img src="<%= hotelImages[i] %>" onclick="showImage('<%= hotelImages[i] %>')" class="indicator-image"
                    id="<%= hotelImages[i] %>">
                <% } else { %>
                <img src="<%= hotelImages[i] %>" onclick="showImage('<%= hotelImages[i] %>')" class="indicator-image"
                    id="<%= hotelImages[i] %>" style="opacity: 50%;">
                <% } %>
                <% } %>
            </div>
        </div>
    </div>

    <div class="modal" id="modal">
        <div class="modal-content">
            <form id="addToItineraryForm">
                <div class="modal-header">
                    <h3 class="modal-title">Booking successful!</h3>
                    <button type="button" class="btn-close" onclick="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <h4 class="h4-black">Would you like to add your booking into an itinerary?</h4>
                    <div class="itinerary-dropdown-div">
                        <input type="text" class="itinerary-dropdown" id="itineraryDropdown"
                            placeholder="Select itinerary..." required readonly />
                        <img src="/images/down-arrow.png" class="itinerary-dropdown-arrow" id="itineraryDropdownArrow">
                        <div class="dropdown-menu position-absolute w-100" id="itineraryDropdownOptions"></div>
                    </div>
                    <div class="create-itinerary-form" id="createItineraryForm"><br>
                        <div class="d-flex align-items-center">
                            <h4 class="h4-black">Trip Name</h4>
                        </div>
                        <input type="text" id="trip-name" class="form-control" placeholder="e.g. Trip to Bali" /><br>
                        <div class="d-flex align-items-center">
                            <h4 class="h4-black">Destination</h4>
                        </div>
                        <div class="input-group position-relative">
                            <input type="text" id="trip-destination" class="form-control" placeholder="Where to?" />
                            <button type="button" id="add-destination-button" class="btn btn-secondary rounded-end"
                                onclick="addDestination()">Add destination</button>
                            <div id="dropdown" class="dropdown-menu position-absolute w-100"></div>
                        </div>
                        <div id="selected-destinations" class="d-flex flex-wrap"></div><br>
                        <div class="d-flex align-items-center">
                            <h4 class="h4-black">Dates</h4>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text">From:</span>
                            <input type="date" id="trip-from-date" class="form-control"
                                min="<%= new Date().toISOString().split('T')[0] %>" onchange="modalCheckDate()" />
                            <span class="input-group-text">To:</span>
                            <input type="date" id="trip-to-date" class="form-control"
                                min="<%= new Date().toISOString().split('T')[0] %>" onchange="modalCheckDate()" />
                        </div>
                        <div class="error-message" id="modalErrorMessage">
                            <img src="/images/error-icon.png" class="error-icon">
                            To date cannot be earlier than from date
                        </div>
                    </div>
                    <input type="hidden" id="bookingId" />
                    <input type="hidden" id="selectedItineraryId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeModal()">Skip</button>
                    <div id="addButtonContainer">
                        <button type="submit" class="btn btn-primary" id="addButton">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <%- include ('base/footer'); %>
</body>

</html>

<script>
    // Function to extract query parameter from URL
    function getQueryParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }

    const pax = getQueryParam("pax");
    const checkInDate = getQueryParam("checkin");
    const checkOutDate = getQueryParam("checkout");

    document.getElementById("adults").value = pax;
    document.getElementById("checkInDate").value = checkInDate;
    document.getElementById("checkOutDate").value = checkOutDate;

    // JavaScript to handle content section toggling
    document.addEventListener("DOMContentLoaded", function () {
        const sections = document.querySelectorAll(".content-section");
        const navLinks = document.querySelectorAll(".secondary-navbar a");

        // Hide all content sections except the "Overview" section
        sections.forEach((section) => {
            if (section.id !== "overview") {
                section.style.display = "none";
            }
        });

        // Add event listeners to navigation links
        navLinks.forEach((link) => {
            link.addEventListener("click", (event) => {
                event.preventDefault();

                const targetSectionId = link.getAttribute("href");
                sections.forEach((section) => {
                    if (section.id === targetSectionId.substring(1)) {
                        section.style.display = "block";
                    } else {
                        section.style.display = "none";
                    }
                });
            });
        });
    });

    function showImage(newImage) {
        var currentImage = document.getElementById("currentImage");
        var oldImage = currentImage.src;
        currentImage.src = newImage;
        var oldIndicatorImage = document.getElementById(oldImage);
        oldIndicatorImage.style.opacity = "50%";
        var newIndicatorImage = document.getElementById(newImage);
        newIndicatorImage.style.opacity = "100%";
    }

    // Book Hotel
    $("#bookHotelForm").on("submit", function (e) {
        e.preventDefault();
        $.post(`/hotel/${"<%= hotelData.hotel_id %>"}/book`, {
            hotelImage: $("#hotelImage").val(),
            hotelName: $("#hotelName").val(),
            checkin: $("#checkin").val(),
            checkout: $("#checkout").val(),
            adults: $("#adults").val(),
            checkInDate: $("#checkInDate").val(),
            checkOutDate: $("#checkOutDate").val(),
            hotelAddress: $("#hotelAddress").val()
        }, function (response) {
            var modal = document.getElementById("modal");
            modal.style.display = "block";
            var bookingIdInput = document.getElementById("bookingId");
            bookingIdInput.value = response.bookingId;
            fetch("/itinerary/trip/destinations").then(response => response.json()).then(trips => {
                var selectedItineraryId = document.getElementById("selectedItineraryId");
                var itineraryDropdown = document.getElementById("itineraryDropdown");
                var itineraryDropdownOptions = document.getElementById(
                    "itineraryDropdownOptions");
                itineraryDropdownOptions.innerHTML = "";
                trips.forEach(trip => {
                    var optionDiv = document.createElement("div");
                    optionDiv.className = "dropdown-item";
                    optionDiv.innerText = trip.tripName;
                    optionDiv.onclick = function (e) {
                        selectedItineraryId.value = trip.id;
                        itineraryDropdown.value = trip.tripName;
                        itineraryDropdownOptions.style.display = "none";
                        createItineraryFormVisible();
                    }
                    itineraryDropdownOptions.appendChild(optionDiv);
                });
                var createOptionDiv = document.createElement("div");
                createOptionDiv.className = "dropdown-item";
                createOptionDiv.innerText = "Create new itinerary";
                createOptionDiv.onclick = function (e) {
                    selectedItineraryId.value = "";
                    itineraryDropdown.value = createOptionDiv.innerText;
                    itineraryDropdownOptions.style.display = "none";
                    createItineraryFormVisible();
                }
                itineraryDropdownOptions.appendChild(createOptionDiv);
            });
        });
    });

    document.onclick = function (e) {
        // Show/hide itinerary dropdown
        var itineraryDropdown = document.getElementById("itineraryDropdown");
        var itineraryDropdownArrow = document.getElementById("itineraryDropdownArrow");
        var itineraryDropdownOptions = document.getElementById("itineraryDropdownOptions");
        if (e.target == itineraryDropdown || e.target == itineraryDropdownArrow) {
            if (itineraryDropdownOptions.style.display == "" || itineraryDropdownOptions.style.display == "none") {
                itineraryDropdownOptions.style.display = "block";
                itineraryDropdownArrow.src = "/images/up-arrow.png";
            } else {
                itineraryDropdownOptions.style.display = "none";
                itineraryDropdownArrow.src = "/images/down-arrow.png";
            }
        } else {
            itineraryDropdownOptions.style.display = "none";
            itineraryDropdownArrow.src = "/images/down-arrow.png";
        }
    }

    // Close modal
    function closeModal() {
        var modal = document.getElementById("modal");
        modal.style.display = "none";
    }

    // Show/hide create itinerary form in modal based on dropdown selection
    function createItineraryFormVisible() {
        var itineraryDropdown = document.getElementById("itineraryDropdown");
        var createItineraryForm = document.getElementById("createItineraryForm");
        var tripName = document.getElementById("trip-name");
        var tripFromDate = document.getElementById("trip-from-date");
        var tripToDate = document.getElementById("trip-to-date");
        if (itineraryDropdown.value == "Create new itinerary") {
            createItineraryForm.style.display = "block";
            tripName.required = true;
            tripFromDate.required = true;
            tripToDate.required = true;
        } else {
            createItineraryForm.style.display = "none";
            tripName.required = false;
            tripFromDate.required = false;
            tripToDate.required = false;
        }
    }

    var citiesAndCountries;
    var addedDestinations = [];

    // Destination suggestions
    $.getJSON("/data/airports.json", function (data) {
        citiesAndCountries = data.map(item => ({
            city: item.City,
            country: item.Country
        }));
        citiesAndCountries = citiesAndCountries.filter((value, index, self) => index == self.findIndex((v) => (v
            .city == value.city && v.country == value.country)));
    });
    $("#trip-destination").on("input", function () {
        const query = $(this).val().toLowerCase();
        const filteredOptions = citiesAndCountries.filter(item => item.city.toLowerCase().includes(query) ||
            item.country.toLowerCase().includes(query));
        updateDropdown(filteredOptions.slice(0, 5));
    });

    function updateDropdown(options) {
        var $dropdown = $("#dropdown");
        $dropdown.empty();
        if (options.length > 0) {
            $dropdown.show();
        } else {
            $dropdown.hide();
        }
        options.forEach(item => {
            var optionDiv = $("<div>").addClass("dropdown-item").text(`${item.city}, ${item.country}`);
            optionDiv.on("click", function () {
                $("#trip-destination").val(`${item.city}, ${item.country}`);
                addDestination();
                $dropdown.hide();
            });
            $dropdown.append(optionDiv);
        });
    }
    $(document).on("click", function () {
        $("#dropdown").hide();
    });

    // Add destination
    function addDestination() {
        if (addedDestinations.length >= 5) {
            alert("You can only add up to 5 destinations at one time.");
        }
        var selectedDestination = $("#trip-destination").val();
        if (selectedDestination && !addedDestinations.includes(selectedDestination)) {
            addedDestinations.push(selectedDestination);
            var destinationInput = $("<input>").attr("type", "text").attr("readonly", true).addClass("form-control")
                .val(selectedDestination);
            var deleteButton = $("<button>").text("Delete").addClass("btn btn-danger rounded-end").on("click",
                function () {
                    var index = addedDestinations.indexOf(selectedDestination);
                    addedDestinations.splice(index, 1);
                    $(this).closest(".input-group").remove();
                });
            var hiddenInput = $("<input>").attr("type", "hidden").attr("name", "destinations").val(selectedDestination);
            var inputGroup = $("<div>").addClass("input-group").css({
                "width": "auto",
                "margin-right": "10px",
                "margin-top": "10px"
            }).append(destinationInput, deleteButton, hiddenInput);
            $("#selected-destinations").append(inputGroup);
            $("#trip-destination").val("");
        }
    }

    // Prevent unwanted deletion of destination when enter key is pressed
    document.onkeydown = function (e) {
        if (e.key == "Enter" || e.keyCode == 13) {
            e.preventDefault();
        }
    }

    // Check that to date is not earlier than from date
    function modalCheckDate() {
        var fromDate = document.getElementById("trip-from-date");
        var toDate = document.getElementById("trip-to-date");
        var errorMessage = document.getElementById("modalErrorMessage");
        var addButtonContainer = document.getElementById("addButtonContainer");
        var addButton = document.getElementById("addButton");
        if (fromDate.value != "" && toDate.value != "" && toDate.value < fromDate.value) {
            fromDate.style.border = "1px solid #d9534f";
            toDate.style.border = "1px solid #d9534f";
            errorMessage.style.display = "block";
            addButtonContainer.className = "button-container-disabled";
            addButton.disabled = true;
        } else {
            fromDate.style.border = "1px solid #ccc";
            toDate.style.border = "1px solid #ccc";
            errorMessage.style.display = "none";
            addButtonContainer.className = "";
            addButton.disabled = false;
        }
    }

    // Add booking to itinerary
    $("#addToItineraryForm").on("submit", function (e) {
        e.preventDefault();
        var itineraryDropdown = document.getElementById("itineraryDropdown");
        var selectedItineraryId = document.getElementById("selectedItineraryId");
        var bookingIdInput = document.getElementById("bookingId");
        // If adding to existing itinerary
        if (itineraryDropdown.value != "Create new itinerary") {
            // Add itinerary ID to booking
            $.ajax({
                url: `/bookings/update/hotel/${bookingIdInput.value}`,
                type: "PUT",
                data: JSON.stringify({
                    itineraryId: selectedItineraryId.value
                }),
                contentType: "application/json",
                success: function (response) {
                    // Add booking ID to itinerary
                    fetch("/itinerary/trip/destinations").then(response => response.json()).then(
                        trips => {
                            trips.forEach(trip => {
                                if (trip.id == selectedItineraryId.value) {
                                    if (trip.bookings.hotel) {
                                        trip.bookings.hotel.push(bookingIdInput.value);
                                    }
                                    else {
                                        trip.bookings.hotel = [bookingIdInput.value];
                                    }
                                    $.ajax({
                                        url: `/itinerary/trip/<%= user.uid %>/destinations/${selectedItineraryId.value}`,
                                        type: "PUT",
                                        data: JSON.stringify(trip),
                                        contentType: "application/json",
                                        success: function (response) {
                                            alert(
                                                "Booking added to itinerary!"
                                                );
                                            window.location.href =
                                                `/itinerary/p?tripId=${selectedItineraryId.value}`;
                                        },
                                        error: function (error) {
                                            alert(
                                                "An error occurred while adding booking ID to itinerary."
                                                );
                                        }
                                    });
                                }
                            });
                        });
                },
                error: function (error) {
                    alert("An error occurred while adding itinerary ID to booking.");
                }
            });
        }
        // If adding to new itinerary
        else {
            if (addedDestinations.length == 0) {
                alert("Please add at least one destination.");
            } else {
                // Create new itinerary and add booking ID to itinerary
                $.post("/itinerary/trip/<%= user.uid %>/destinations", {
                    destinations: addedDestinations,
                    tripName: $("#trip-name").val(),
                    fromDate: $("#trip-from-date").val(),
                    toDate: $("#trip-to-date").val(),
                    bookings: {
                        flights: [],
                        hotel: [bookingIdInput.value],
                        airbnb: []
                    }
                }, function (response) {
                    // Add itinerary ID to booking
                    var itineraryId = response.itineraryId;
                    $.ajax({
                        url: `/bookings/update/hotel/${bookingIdInput.value}`,
                        type: "PUT",
                        data: JSON.stringify({
                            itineraryId: itineraryId
                        }),
                        contentType: "application/json",
                        success: function (response) {
                            alert("Booking added to itinerary!");
                            window.location.href = `/itinerary/p?tripId=${itineraryId}`;
                        },
                        error: function (error) {
                            alert("An error occurred while adding to itinerary.");
                        }
                    });
                });
            }
        }
    });
</script>