<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('base/head'); %>
    <title>Planning</title>
    <style>
        .planning-dropdown {
            top: 100%;
            left: 0;
            border: 1px solid #ccc;
            background-color: #fff;
            z-index: 1000;
        }
        .planning-dropdown-item {
            padding: 10px;
            cursor: pointer;
        }
        .planning-dropdown-item:hover {
            background-color: #f0f0f0;
        }
        .readjust-margin {
            margin-bottom: 0.5rem !important;
        }
    </style>
</head>
<body>
    <%- include ('base/navbar'); %>
    <div class="container mt-4">
        <form id="trip-form">
            <div class="row align-items-center">
                <div class="col">
                    <div class="row">
                        <h2 class="col-3 user-select-none edit-element" style="display: none;" id="trip-name-label">Trip Name:</h2>
                        <h1 class="col user-select-none display-element" id="trip-name-display"><%= trip.tripName %></h1>
                        <input type="text" name="tripName" id="trip-name-input" class="form-control edit-element col" value="<%= trip.tripName %>" style="display: none;">
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary display-element" id="share-trip-button">Share Trip</button>
                    <button type="button" class="btn btn-primary display-element" id="edit-trip-button">Edit Trip</button>
                    <button type="button" class="btn btn-success edit-element" id="update-trip-button" style="display: none;">Update</button>
                    <button type="button" class="btn btn-secondary edit-element" id="cancel-edit-button" style="display: none;">Cancel</button>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title">Destinations:</h5>
                        <button type="button" class="btn btn-success edit-element col-auto" id="add-destination-button" style="display: none;">Add Destination</button>
                    </div>
                    <div id="destinations-input-group" class="edit-element" style="display: none;padding-top:10px;">
                    <% trip.destinations.forEach((destination, index) => { %>
                        <div class="input-group mb-2 destination-input-group position-relative">
                            <input type="text" class="form-control destination-input" value="<%= destination %>">
                            <button type="button" class="btn btn-danger remove-destination-button rounded-end">Remove</button>
                            <div class="dropdown-menu planning-dropdown position-absolute w-100" style="display: none;"></div>
                        </div>
                        <% }); %>
                    </div>
                    <p class="card-text display-element" id="destinations-display" style="padding-top:10px;"><%= trip.destinations.join(' | ') %></p>
                    <div class="date-section row align-items-center">
                        <div class="col-3 d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Trip Length:</h5>
                            <p class="card-text" id="trip-length-display"></p>
                        </div>
                        <div class="col date-display d-flex justify-content-center align-items-center">
                            <h5 class="card-title date-display" style="padding-right: 10px;">From: </h5>
                            <p class="card-text display-element date-display readjust-margin" id="from-date-display"></p>
                            <input type="date" name="fromDate" class="form-control edit-element" id="from-date-input" style="display: none;">
                        </div>
                        <div class="col date-display d-flex justify-content-center align-items-center">
                            <h5 class="card-title date-display" style="padding-right: 10px;">To: </h5>
                            <p class="card-text display-element date-display readjust-margin" id="to-date-display"></p>
                            <input type="date" name="fromDate" class="form-control edit-element" id="to-date-input" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h4 class="card-title">Bookings</h4>
            <div class="card mt-4">
                <div class="card-body">
                    <!-- Airbnb Booking Section -->
                    <button class="btn btn-primary text-start d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#airbnbDetails" aria-expanded="false" aria-controls="airbnbDetails" style="text-decoration: none;">
                        <span style="font-weight: bold; font-size: 1.1em;">Airbnb Booking</span>
                        <i class="bi bi-chevron-down"></i>
                    </button>
                    <div class="collapse" id="airbnbDetails">
                        <div class="mt-2">
                            <p><strong>Booking ID:</strong> 123456</p>
                        </div>
                    </div>
            
                    <!-- Hotel Section -->
                    <button class="btn btn-primary text-start d-flex justify-content-between align-items-center mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#hotelDetails" aria-expanded="false" aria-controls="hotelDetails" style="text-decoration: none;">
                        <span style="font-weight: bold; font-size: 1.1em;">Hotel</span>
                        <i class="bi bi-chevron-down"></i>
                    </button>
                    <div class="collapse" id="hotelDetails">
                        <div class="mt-2">
                            <p><strong>Booking ID:</strong> 654321</p>
                        </div>
                    </div>
            
                    <!-- Flight Section -->
                    <button class="btn btn-primary text-start d-flex justify-content-between align-items-center mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#flightDetails" aria-expanded="false" aria-controls="flightDetails" style="text-decoration: none;">
                        <span style="font-weight: bold; font-size: 1.1em;">Flight</span>
                        <i class="bi bi-chevron-down"></i>
                    </button>
                    <div class="collapse" id="flightDetails">
                        <div class="mt-2">
                            <p><strong>Booking ID:</strong> 789012</p>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <br>

            <div class="container py-9 py-lg-11 position-relative z-index-1">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h5 class="mb-4 text-info">Trip's Schedule and Agenda</h5>
                        <div class="nav nav-pills flex-column" id="myTab" role="tablist">
                            <% for (let i = 1; i <= tripLengthInDays; i++) { %>
                                <button class="nav-link px-4 text-start mb-3 <%= i === 1 ? 'active' : '' %>" id="d<%= i %>-tab" data-bs-toggle="tab" data-bs-target="#day<%= i %>" type="button" role="tab" aria-controls="day<%= i %>" aria-selected="<%= i === 1 ? 'true' : 'false' %>">
                                    <span class="d-block fs-5 fw-bold">Day <%= i %></span>
                                    <% const date = new Date(trip.fromDate); date.setDate(date.getDate() + (i - 1)); %>
                                    <span class="small"><%= date.toLocaleDateString('en-GB', { day: 'numeric', month: 'short', year: 'numeric' }) %></span>
                                </button>
                            <% } %>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-content" id="myTabContent">
                                <% for (let i = 1; i <= tripLengthInDays; i++) { %>
                                    <div class="tab-pane fade <%= i === 1 ? 'show active' : '' %>" id="day<%= i %>" role="tabpanel" aria-labelledby="d<%= i %>-tab">
                                        <div class="d-flex justify-content-center align-items-center mb-3">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPlaceModal<%= i %>">Add itinerary to Day <%= i %></button>
                                        </div>
                                        <ul class="pt-4 list-unstyled mb-0" id="placesListDay<%= i %>">
                                            <!-- JavaScript -->
                                            <div id="loading-bar" style="display: none;">
                                                <div class="spinner-border text-primary" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>

            <% for (let i = 1; i <= tripLengthInDays; i++) { %>
                <div class="modal fade" id="addPlaceModal<%= i %>" tabindex="-1" aria-labelledby="addPlaceModalLabel<%= i %>" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addPlaceModalLabel<%= i %>">Add Place of Interest for Day <%= i %></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="addPlaceForm<%= i %>">
                                    <div class="mb-3">
                                        <label for="startTime<%= i %>" class="form-label">Start Time:</label>
                                        <input type="time" class="form-control" id="startTime<%= i %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="endTime<%= i %>" class="form-label">End Time:</label>
                                        <input type="time" class="form-control" id="endTime<%= i %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="placeOfInterest<%= i %>" class="form-label">Itinerary:</label>
                                        <input type="text" class="form-control" id="placeOfInterest<%= i %>" placeholder="e.g.  Hiking / Visiting Louvre / Skydiving">
                                    </div>
                                    <div class="mb-3">
                                        <label for="placeLocation<%= i %>" class="form-label">Location:</label>
                                        <input type="text" class="form-control" id="placeLocation<%= i %>" placeholder="e.g.  Street address, city">
                                    </div>
                                    <div class="mb-3">
                                        <label for="placeNotes<%= i %>" class="form-label">Descriptions:</label>
                                        <textarea class="form-control" id="placeNotes<%= i %>" rows="3"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="savePlaceButton<%= i %>">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </form>
    </div>
    <%- include ('base/footer'); %>
    <script>
        $(document).ready(function() {
            var citiesAndCountries;
            var tripLengthInDays = 0;
            const fromDate = new Date('<%= trip.fromDate %>');
            const toDate = new Date('<%= trip.toDate %>');
            fetchAndDisplayPlacesForDay('<%= tripId %>', 1);
            if (fromDate != "Invalid Date" && toDate != "Invalid Date") {
                tripLengthInDays = Math.floor((toDate - fromDate) / (1000 * 60 * 60 * 24)) + 1;
            }

            $.getJSON('/data/airports.json', function(data) {
                citiesAndCountries = data.map(item => ({
                    city: item.City,
                    country: item.Country
                }));
                citiesAndCountries = citiesAndCountries.filter((value, index, self) => index === self.findIndex((v) => (v.city === value.city && v.country === value.country)));
            });

            // ===== Edit | View buttons =====
            $('#edit-trip-button').on('click', function() {
                $('.display-element').hide();
                $('.edit-element').show();
            });
            $('#cancel-edit-button').on('click', function() {
                $('.display-element').show();
                $('.edit-element').hide();
            });

            // ===== update =====
            $('#update-trip-button').on('click', function() {
                var formData = $('#trip-form').serializeArray();
                var tripData = {};
                formData.forEach(function(item) {
                    tripData[item.name] = item.value;
                    console.log(item.name+": "+item.value);
                });
                tripData["lastEdited"] = new Date().toISOString();
            
                $.ajax({
                    url: `/itinerary/trip/<%= user.uid %>/destinations/<%= tripId %>`,
                    type: 'PUT',
                    data: JSON.stringify(tripData),
                    contentType: 'application/json',
                    success: function(response) {
                        alert('Trip updated successfully!');
                        location.reload();
                    },
                    error: function(error) {
                        alert('An error occurred while updating the trip.');
                        console.error(error);
                    }
                });
            });

            // ===== Destination input =====
            $('#destinations-input-group').on('input', '.destination-input', function() {
                const query = $(this).val().toLowerCase();
                const filteredOptions = citiesAndCountries.filter(item => item.city.toLowerCase().includes(query) || item.country.toLowerCase().includes(query));
                const $dropdown = $(this).siblings('.planning-dropdown');
                updateDropdown($dropdown, filteredOptions.slice(0,5));
            });

            // Hide the dropdown when the user clicks else where
            $(document).on('click', function() {
                $('.planning-dropdown').hide();
            });

            // Prevent the click event when the user clicks input
            $('#destinations-input-group').on('click', '.destination-input', function(e) {
                e.stopPropagation();
            });

            function updateDropdown($dropdown, options) {
                $dropdown.empty();

                if (options.length > 0) {
                    $dropdown.show();
                } else {
                    $dropdown.hide();
                }
            
                options.forEach(item => {
                    const optionDiv = $('<div>').addClass('dropdown-item').text(`${item.city}, ${item.country}`);
                    optionDiv.on('click', function() {
                        $dropdown.siblings('.destination-input').val(`${item.city}, ${item.country}`);
                        $dropdown.hide();
                    });
                    $dropdown.append(optionDiv);
                });
            }

            $('#add-destination-button').on('click', function() {
                const numberOfDestinations = $('.destination-input-group').length; // Change the selector to class
                if (numberOfDestinations < 5) {
                    const destinationInputGroup = $('<div>').addClass('input-group mb-2 destination-input-group position-relative');
                        const destinationInput = $('<input>').attr('type', 'text').addClass('form-control destination-input');
                        const removeButton = $('<button>').text('Remove').addClass('btn btn-danger remove-destination-button rounded-end').attr('type', 'button');
                        const dropdownDiv = $('<div>').addClass('dropdown-menu planning-dropdown position-absolute w-100').css('display', 'none');
                        destinationInputGroup.append(destinationInput, removeButton, dropdownDiv);
                        $('#destinations-input-group').append(destinationInputGroup);
                } else {
                    alert('You can add a maximum of 5 destinations.');
                }
            });

            $('#destinations-input-group').on('click', '.remove-destination-button', function() {
                $(this).closest('.destination-input-group').remove();
            });

            // ===== Trip duration =====
            if (fromDate != "Invalid Date" && toDate != "Invalid Date") {
                var options = { day: 'numeric', month: 'short', year: 'numeric' };
                var formattedFromDate = fromDate.toLocaleDateString('en-GB', options);
                var formattedToDate = toDate.toLocaleDateString('en-GB', options);
                $('.date-display').show();
                $('#from-date-input').val(fromDate.toISOString().split('T')[0]);
                $('#to-date-input').val(toDate.toISOString().split('T')[0]);
                $('#from-date-display').text(formattedFromDate);
                $('#to-date-display').text(formattedToDate);
            } else {
                $('.date-display').hide();
            }

            $('#trip-length-display').text(tripLengthInDays+' days');

            // save button for each modal
            $('[id^=savePlaceButton]').on('click', function() {
                console.log("saveButtonInModal");
                const dayNumber = $(this).attr('id').replace('savePlaceButton', '');
                const startTime = $(`#startTime${dayNumber}`).val();
                const endTime = $(`#endTime${dayNumber}`).val();
                const placeOfInterest = $(`#placeOfInterest${dayNumber}`).val();
                const location = $(`#placeLocation${dayNumber}`).val();
                const notes = $(`#placeNotes${dayNumber}`).val();

                const data = {
                    dayNumber,
                    startTime,
                    endTime,
                    placeOfInterest,
                    location,
                    notes
                };

                $.ajax({
                    url: `/itinerary/trip/<%= user.uid %>/destinations/<%= tripId %>/day/${dayNumber}`,
                    type: 'PUT',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function(response) {
                        alert('Place added successfully!');
                    },
                    error: function(error) {
                        if (error.status = 452){
                            alert("The time you've selected clashes with an existing time slot. Please choose a different time.");
                        } else {
                            alert('An error occurred while adding the itinerary.');
                            console.error(error);
                        }
                    }
                });
                $(`#addPlaceModal${dayNumber}`).modal('hide');
            });

            // update the itinerary for each day
            function fetchAndDisplayPlacesForDay(tripId, dayNumber) {
                $('#loading-bar').show();
                $.ajax({
                    url: `/itinerary/trip/places/${tripId}/day/${dayNumber}`,
                    type: 'GET',
                    success: function(places) {
                        $('#loading-bar').hide();
                        const $placesList = $(`#placesListDay${dayNumber}`);
                        $placesList.empty();
                        if (Array.isArray(places)) {
                            places.forEach(place => {
                                const placeItem = `
                                    <li class="d-flex flex-column flex-md-row py-4">
                                        <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-muted">${place.startTime} - ${place.endTime}</span>
                                        <div class="flex-grow-1 ps-4 border-start border-3">
                                            <h4>${place.placeOfInterest}</h4>
                                            <p class="mb-0">${place.notes}</p>
                                        </div>
                                    </li>
                                `;
                                $placesList.append(placeItem);
                            });
                        };
                    },
                    error: function(error) {
                        $('#loading-bar').hide();
                        const $placesList = $(`#placesListDay${dayNumber}`);
                        $placesList.empty();
                        const placeItem = `<li class="d-flex flex-column flex-md-row py-4 text-center"> Nothing added.. </li>`
                        $placesList.append(placeItem);
                        if (error.status == 400){
                            console.error(`Day ${ dayNumber }, not found`);
                        } else {
                            console.error('Error fetching places:', error);
                        }
                    }
                });
            }

            $('.nav-link').on('click', function() {
                const dayNumber = $(this).attr('id').replace('d', '').replace('-tab', '');
                fetchAndDisplayPlacesForDay('<%= tripId %>', dayNumber);
            });
    });
    </script>
</body>
</html>